<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Movie Ticket Shop App</h1>
</header>
<main>

    <div>
        <h1>Cart for user:</h1>
        <p th:text="${username}"></p>
        <h1>Cart created:</h1>
        <p th:text="${#temporals.formatISO(datetime)}"></p>
    </div>

        <ul th:each="ticket : ${tickets}">
            <li>
                <form method="post" action="/tickets/edit">
                    <label for="movieTitle">Movie title</label>
                    <select id="movieTitle" name="movieTitle">
                        <option th:each="movie : ${movies}" th:value="${movie.getTitle()}" th:text="${movie.getTitle()}" th:selected="${ticket.getMovieTitle().equals(movie.getTitle())}"></option>
                    </select>
<!--                    <input id="movieTitle" type="text" th:value="${ticket.getMovieTitle()}" name="movieTitle">-->

                    <label for="numberOfTickets">Number of tickets</label>
                    <input id="numberOfTickets" type="number" th:value="${ticket.getNumberOfTickets()}" name="numberOfTickets">

                    <input hidden th:value="${ticket.getId()}" name="ticketId" type="number" >

                    <label for="dt">Chosen Date:</label>
                    <input id="dt" name="orderDate" th:value="${ticket.getOrderDate()}" type="datetime-local"/>


                    <input type="submit" value="Edit">
<!--                    <a th:href="@{'/tickets/delete/' + ${ticket.getId()}}">Delete</a>-->

                </form>
            </li>
        </ul>


</main>
</body>
</html>